<ion-header>
  <ion-toolbar>
    <ion-title>FORMULARIO</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-button [routerLink]="['/home']">
    Volver a inicio
  </ion-button>


</ion-content>

<ion-item>
  <ion-label position="floating">Rut: </ion-label>
  <ion-input placeholder="EJ: 11.111.111-1" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Nombre completo: </ion-label>
  <ion-input placeholder="aaaa aaaa aaaaa aaaaa" type="text"></ion-input>
</ion-item>



<ion-item>
  <ion-label position="floating">Edad: </ion-label>
  <ion-input maxlength="2" placeholder="13" type="number"></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Nombre usuario:</ion-label>
  <ion-input placeholder="aaa aaa aaa " type="text"></ion-input>
</ion-item>


<ion-item>
  <ion-label>Contraseña</ion-label>
  <ion-input placeholder="placeholder" type="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input placeholder="" type="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Direccion</ion-label>
  <ion-input placeholder="Direccion casa"></ion-input>
  <ion-input placeholder="Ciudad"></ion-input>
</ion-item>










