<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezado
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >

<h1>Bienvenido a la pagina </h1>



<ion-card class="contenedor_login">
  <img src="https://c.tenor.com/KTPy1W7EqngAAAAC/levi-scream.gif" alt="">
  <ion-card-header>
        <ion-card-title class="titulo_app">Iniciar sesion</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-list>
      <ion-item>
              <ion-icon name="person" class="icon-login"></ion-icon>
              <ion-input name="user" type="email" required placeholder="Usuario"></ion-input>
          </ion-item>
          <br />
          <ion-item>
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input name="password" type="password" required placeholder="Contraseña"></ion-input>
          </ion-item>
      </ion-list>

      <ion-row>
          <ion-col>
              <ion-button type="submit" fill="solid" expand="full" [routerLink] ="['/series']">
                  Ingresar
              </ion-button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-label>
                  <a [routerLink] ="['/']"><h3 class="link_page">Crear una cuenta</h3></a>
              </ion-label>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-label>
                  <a [routerLink] ="['/']"><h3 class="link_page">¿Olvido la contraseña?</h3></a>
              </ion-label>
          </ion-col>
      </ion-row>
  </ion-card-content>
</ion-card>


<ion-fab horizontal="end" vertical="bottom" slot="fixed">

  <ion-fab-button color="light">
    <ion-icon name="musical-notes-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button color="light" [routerLink] ="['/acceso']">
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink] ="['/tercera']">
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" [routerLink] ="['/series']">
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

  <ion-fab-list side="start">
    <ion-fab-button color="light" href="https://www.youtube.com/">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light"href="https://www.instagram.com/?hl=es" >
      <ion-icon name="logo-youtube"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

</ion-fab>



</ion-content> 


<ion-footer>
  <ion-toolbar>
    <ion-title>Pie de pagina</ion-title>
  </ion-toolbar>
</ion-footer>

